

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-area-wrapper {
  display: flex;
}

.canvas-panel {
  width: 80%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-panel {
  width: 20%;
  border: 1px solid lightgrey;
}

.topbar {
  height: 40px;
}

.annotation {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.annotation-class {
  width: fit-content;
  padding: 3px;
  cursor: pointer;
}

.annotations-list {
  max-height: 100%;
  overflow-y: scroll;
}

.annotation-top {
  display: flex;
  gap: 10px;
  align-items: center;
}

.annotation-bottom {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

.class-menu-item {
  font-size: 12px;
  /* color: white;
  background-color: #272727; */
}

.annotation-textfield {
  color: white;
  font-size: 12px;
}